*{
	box-sizing: border-box;
	vertical-align:center;
}

form{
	flex-direction: column;
    padding: 70px 100px;
	align-items: center;
	position:relative;
	top:50%;
    border:3px solid #AFDCEC;
	width:650px;
	height:400px;
	color: white;
	display: flex;
}

#input{
	margin:10px 0px 10px 0px;
	width:200%;
	height:3em;
}


#value{
	text-align:center;
	display:inline-block;
	font-family: 'Times New Roman', serif;
	border:3px solid #AFDCEC;
	width:100px;
	height:40px;
	font-size:15px;
	font-weight:500;
	padding-top:8px;
	background-color:#AFDCEC;
}

#gender{
    margin:center;
	font-family: 'Times New Roman', serif;
	font-size:20px;
	font-weight:500;
	color: black;
}

input,select{
	margin-left:25px;
    width:25px;
	height:20px;
    font-size:15px;
	border:3px solid #AFDCEC;
}

input[type='text']{
	width:350px;
	height:35px;
}

select{
	width:350px;
	height:35px;
}

button{
	margin-top:30px;
	width:150px;
	height:50px;
	padding:10px;
	font-family: 'Times New Roman', serif;
	font-size:20px;
	font-weight:500;
	border:3px solid #AFDCEC;
	color: white;
	border-radius:10px;
	background-color: green;
}
